@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white tracking-wide
  }

  .active-link {
    background: rgba(0, 0, 0, 0.767);
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 6px 14px;    
  }

  input {
    background-color: #d1eef28c; /* Replace with your desired color code */
    padding: 8px; /* Optional: Add padding for better appearance */
    border: 1px solid #ccc; /* Optional: Add border for better visibility */
    border-radius: 8px;
  }

  .card {
    background-color: white;
    padding: 32px;
    border: 1px solid #ccc;
    border-radius: 16px;
  }

  .text-area {
    background-color: #d1eef28c;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}
